body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    border: 1px solid black;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.game-status_container {
    margin-top: 1rem;
    border: 0.01rem solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}
.game-status_container:hover {
    background-color: rgb(235, 234, 234);
}

.cell {
    cursor: pointer;
    outline: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.cell:hover {
    background-color: rgb(207, 242, 242);
}

.cell-winner {
    color: black;
}

.cell-sign {
    font-size: 9rem;
    padding-bottom: 2rem;
}

.mark-circle {
}

.mark-cross {
}
